body {
background-color:#FFDEAD
}
h1 { text-align: center }
h1{
  font-family: Monotype Corsiva;
	font-size: 50px;
	color: #00008B;
	border-style: dotted;
    border-color: white;
	
}
p { text-align: left }
p { 
  font-family: Bradley Hand;
  font-size: 20px;
	color: #00008B;
	
}
h2 {text-align: right}
IMG.fig {
    float: right; 
    padding-left: 10px; 
    padding-bottom: 10px; 
	padding-top: 10px;
	padding-right: 100px;
	height: 500px;
	
   }
h3 { text-align: center }
h3{
  font-family: Monotype Corsiva;
	font-size: 40px;
	color: #00008B;
	
}
.mainmenubtn {
    background-color: #FFA07A;
    color: white;
    border: none;
    cursor: pointer;
    padding:20px;
    margin-top:20px;
}

.mainmenubtn:hover {
    background-color: #CD5C5C;
    }
    
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-child {
    display: none;
    background-color: #CD5C5C;
    min-width: 200px;
}
.dropdown-child a {
    color: white;
    padding: 20px;
    text-decoration: none;
    display: block;
}
.dropdown-child a:hover {
	 background-color: #FA8072;
}
.dropdown:hover .dropdown-child {
    display: block;
}
a { text-decoration: none }